<section class="outstanding-routes-container">
    <div  class="cardCanTrip" >
        <article>
            <p>Most rated</p>
            <img class="outstanding-routes-img" src="https://firebasestorage.googleapis.com/v0/b/cantrip-3c78d.appspot.com/o/media%2Fhome1.jpeg?alt=media&token=55ecf4d1-20b4-417a-a280-2807876035a8" alt="most rated image">
        </article>
    </div>
    <div  class="cardCanTrip" >
        <article>
            <p>Most recently</p>
            <img class="outstanding-routes-img" src="https://firebasestorage.googleapis.com/v0/b/cantrip-3c78d.appspot.com/o/media%2Fhome2.jpeg?alt=media&token=55ecf4d1-20b4-417a-a280-2807876035a8" alt="most recently image">
        </article>
    </div>
    <div class="cardCanTrip" >
        <article>
            <p>Lowest price</p>
            <img class="outstanding-routes-img" src="https://firebasestorage.googleapis.com/v0/b/cantrip-3c78d.appspot.com/o/media%2Fhome3.jpeg?alt=media&token=55ecf4d1-20b4-417a-a280-2807876035a8" alt="lowest price image">
        </article>
    </div>
</section>
