<section class="outstanding-routes-container">
    <div  class="cardCanTrip" >
        <article>
            <p>Most rated</p>
            <img class="outstanding-routes-img" src="/assets/media/water-park-image.jpg" alt="most rated image">
        </article>
    </div>
    <div  class="cardCanTrip" >
        <article>
            <p>Most recently</p>
            <img class="outstanding-routes-img" src="/assets/media/trekking-image.jpg" alt="most recently image">
        </article>
    </div>
    <div class="cardCanTrip" >
        <article>
            <p>Lowest price</p>
            <img class="outstanding-routes-img" src="/assets/media/Cathedral_of_Santa_Ana-image.jpeg" alt="lowest price image">
        </article>
    </div>
</section>
