<section class="outstanding-routes-container">
    <div  class="cardCanTrip" >
        <article>
            <p>Most rated</p>
            <img class="outstanding-routes-img" src="https://firebasestorage.googleapis.com/v0/b/cantrip-3c78d.appspot.com/o/media%2Fwater-park-image.jpg?alt=media&token=9c5ff1e4-552b-4201-8d59-d9346c5ff1ce" alt="most rated image">
        </article>
    </div>
    <div  class="cardCanTrip" >
        <article>
            <p>Most recently</p>
            <img class="outstanding-routes-img" src="https://firebasestorage.googleapis.com/v0/b/cantrip-3c78d.appspot.com/o/media%2FCathedral_of_Santa_Ana-image.jpeg?alt=media&token=094564e1-be04-4079-8c85-682a8faa0001" alt="most recently image">
        </article>
    </div>
    <div class="cardCanTrip" >
        <article>
            <p>Lowest price</p>
            <img class="outstanding-routes-img" src="https://firebasestorage.googleapis.com/v0/b/cantrip-3c78d.appspot.com/o/media%2Ftrekking-image.jpg?alt=media&token=6ce57f4b-2730-4873-baa8-23c45ae53573" alt="lowest price image">
        </article>
    </div>
</section>
