<div class="col-md-3 col-sm-6  mx-auto">
    <h1 class="text-center mt-5 mb-5">Login into your account!</h1>

    <form class="formContainer" [formGroup]="loginForm"  novalidate (ngSubmit)="checkEmail()">

        <input type="email" name="emailLogin" class="input_overlay validation-text" placeholder="enter your email" formControlName="email"
        [class.valid]="loginForm.get('email')?.valid && 
        (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
        [class.invalid]="loginForm.get('email')?.invalid && 
        (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"/>
        
        

        <div class="" *ngIf="loginForm.get('email')?.invalid && 
            loginForm.get('email')?.errors && 
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">

            <small class="text-danger"
                *ngIf="loginForm.get('email')">
                A valid email is required.
            </small>
        </div>
    
        <div class="w-100 mb-4"></div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" value="Continue"[disabled]="!(loginForm.valid && loginForm.dirty)" disabled>Continue</button>
        </div>
    </form>
</div>