@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap');

h1 {
    font-family: 'Pacifico';
    font-size: 3rem;
}

.nav-container {
    float: right;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 0;
}

.nav-container>li>a {
    margin: 0;
    padding: 0;
}

.nav-container>li {
    padding: 0.8rem;
}

.menu-link {
    font-family: 'Raleway';
    margin-left: 2rem;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display: none;
}

@media (max-width: 795px) {

    .menu {
        display: none;
    }

    .burger-menu {
        display: flex;
        margin-right: 2rem;
    }

    .btn-secondary {
        background-color: white;
        border: none;
    }

    .dropdown-menu {
        left: -10rem;
    }
}