<!-- <footer>
    <p>Follow us on our social media</p>
    <div id="social-media-container">
        <img class="social-logo-img" src="assets/media/social%20media/instagram-logo.svg" class="socialIcon" alt="Instagram logo">
        <img class="social-logo-img" src="assets/media/social%20media/facebook-logo.svg" class="socialIcon" alt="Facebook logo">
        <img class="social-logo-img" src="assets/media/social%20media/twitter-logo.svg" class="socialIcon" alt="Twitter logo">
    </div>
</footer> -->

<footer class="mt-4">
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-md-12 text-center">
            <h5 class="fw-light">Follow us on our social media</h5>
        </div>
        <div class="w-100"></div>
        <div class="d-flex justify-content-evenly">
            <img class="social-logo-img" src="assets/media/social%20media/instagram-logo.svg" class="social-logo" alt="Instagram logo">
            <img class="social-logo-img" src="assets/media/social%20media/facebook-logo.svg" class="social-logo" alt="Facebook logo">
            <img class="social-logo-img" src="assets/media/social%20media/twitter-logo.svg" class="social-logo" alt="Twitter logo">
        </div>
        <div class="row float-end text-end py-3 ">
          <div class="col-md-12 ">©2022 CanTrip, Inc.</div>
        </div>
      </div>

      
    </div>
  </footer>
