.borderStyle > input{
    border-radius: 1rem;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.borderStyle > textarea{
    border-radius: 1rem;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container
{
    margin-bottom: 11rem;
}