<h1 class="text-center">Contact us</h1>

<div class="text-center m-4">
    <p>Please fill out the following form to cantact us.</p>
    <p>Your feedback help us to improve your experience.</p>
</div>

<form [formGroup]="form" novalidate>
    <div class="container mt-5">
        <form class="row g-3 ">
        <div class="col-md-6 mx-auto borderStyle">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control validation-text" id="firstName" required>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 mx-auto borderStyle">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control validation-text" id="lastName" required>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 mx-auto borderStyle">
            <label for="emailInfo" class="form-label">E-mail</label>
            <input type="email" class="form-control validation-text" id="emailInfo" required>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 mx-auto borderStyle">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber">
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 mx-auto borderStyle">
            <label id="message" class="form-label">Message</label>
            <textarea class="form-control validation-text" id="comments" rows="3" required></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
</form>