<section id="timetable">

    <div class="exact-hour-container">
        <p class="exact-hour">09:00</p>
    </div>

    <div class="activity-container">
        <p class="activity-duration">09:00-09:45</p><p>Activity 1</p><button class="delete-btn">X</button>
    </div>

    <div class="exact-hour-container">
        <p class="exact-hour">10:00</p>
    </div>

    <div class="activity-container">
        <p class="activity-duration">10:00-10:30</p><p>Activity 2</p><button class="delete-btn">X</button>
    </div>

    <div class="exact-hour-container">
        <p class="exact-hour">10:00</p>
    </div>

    <div class="activity-container">
        <p class="activity-duration">10:00-10:30</p><p>Activity 2</p><button class="delete-btn">X</button>
    </div>

    <div class="exact-hour-container">
        <p class="exact-hour">10:00</p>
    </div>

    <div class="activity-container">
        <p class="activity-duration">10:00-10:30</p><p>Activity 2</p><button class="delete-btn">X</button>
    </div>

    <div class="exact-hour-container">
        <p class="exact-hour">10:00</p>
    </div>

    <div class="activity-container">
        <p class="activity-duration">10:00-10:30</p><p>Activity 2</p><button class="delete-btn">X</button>
    </div>
</section>