<section id="timetable">
        <div *ngFor="let activity of activities | async">
                <div class="exact-hour-container">
                    <p class="exact-hour" >{{getNextActivityHour(activity.timeAvailability, activity.timeDuration)}}</p>
                </div>

               <div class="activity-container">
                    <p class="activity-duration">{{selectedTime}}-{{startActivityTime}}</p><p>{{activity.activityName}}</p><button class="delete-btn">X</button>
                </div>
        </div>
</section>