<div class="outstanding-routes-container" id="chief-container">
    <article class="cardCanTrip">
        <div>
            <img class="outstanding-routes-img" src="https://firebasestorage.googleapis.com/v0/b/cantrip-3c78d.appspot.com/o/media%2Fmaria-image.jpg?alt=media&token=dd0a583e-1557-4c14-a990-0be4e8592c81" alt="Maria's photo">
        </div>
        <p>María Naranjo</p>
        <p>Chief Technology Officer</p>
    </article>
    <article class="cardCanTrip">
        <img class="outstanding-routes-img" src="https://firebasestorage.googleapis.com/v0/b/cantrip-3c78d.appspot.com/o/media%2Fraul-image.jpeg?alt=media&token=55ecf4d1-20b4-417a-a280-2807876035a8" alt="Raul's photo">
        <p>Raúl Medina</p>
        <p>Chief Executive Officer</p>
    </article>
    <article class="cardCanTrip">
        <img class="outstanding-routes-img" src="https://firebasestorage.googleapis.com/v0/b/cantrip-3c78d.appspot.com/o/media%2Fsimon-image.JPG?alt=media&token=29c86321-fa3f-4ed9-a1a1-ea9216f78e56"  alt="Simon's photo">
        <p>Simon Rusu</p>
        <p>Chief Marketing Officer</p>
    </article>
</div>
