.mat-dialog-container{
    padding:unset;
}
.uploadTitle{
    background-color: #ffcb69;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding:5px;
}

.options-Container{
    display: flex;
}

p{
    display: inline-block;
    margin-left:1rem;
}

.options-container > span {
    margin-left:0.5rem;
}

