<div class="text-center">
    <h2 class="uploadTitle " matDialogTitle>Upload Profile Image</h2>
    <span class="material-icons md-72 green">file_upload</span>
</div>

<div class="options-container p-4">
    <button class=" btn btn-primary">Choose file</button>
      <p>No file choosen</p>      
</div>
<p>Please upload a valid image file. Size file should not be more than 10MB.</p>

        
    <mat-dialog-actions align="center">
        <button class="btn btn-primary " matDialogClose="true" (click)="closeDialog()">Accept</button>
    </mat-dialog-actions>