.profile_container{
    text-align: center;
    position:absolute;
    top:9rem;
    width: 100%;
}

.profile_container > img{
    height:15em;
    width:15em;
    border-radius: 50%;
}

.editImageContainer{
    position: absolute;
    height: 40%;
    width: 100%;
    top:30%;
}

.editImageContainer > input{
    height: 100%;
    width: auto;
}

.email_container{
    margin-top:20em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email_element > img{
    object-fit: contain;
    height: 20px;
    padding-left:1em;
}

.email_element > input{
    outline: none;
    border: none;
    background: none;
}

.email_element {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.password_button{
    text-align: center;
    margin-top: 40px;
}

.input_cover{
    border-radius: 1rem;
    height: 3rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: black;
    padding: 1em;
}
