<section class="profile_container">
    <div  class="imageContainer" (click)="openImageDialog()">
        <img class ="userImage" src={{(profileData|async)?.photoURL}} onerror="if (this.src != '') this.src = './assets/media/user.jpg';" /> 
        <img class="editIcon" type="image" src="../assets/media/edit-icon.png" />   
    </div>
            
</section>

<section class="email_container">
    <div class="email_element input_cover">
        <input placeholder="{{(profileData|async)?.email}}" type="text" [(ngModel)]="updatedEmail"  />
        <img src="../assets/media/edit-icon.png" (click)="editEmail()"/>
    </div>
</section>

<div class="password_button">
    <input type="submit" class="input_overlay_submit" value="Change password"/>
    <input type="submit" (click)="logout()" class="input_overlay_submit logout" value="Logout"/>
</div>
