<section class="profile_container">
    <img src="../assets/media/user.jpg">    
    <div class="editImageContainer">
        <input class="editImageInput" type="image" src="../assets/media/edit-icon.png" />
    </div>
</section>

<section class="email_container">
    <div class="email_element input_cover">
        <input placeholder="test@alu.ulpgc.es" type="text"/>
        <img src="../assets/media/edit-icon.png" />
    </div>
</section>

<div class="password_button">
    <input type="submit" class="input_overlay_submit" value="Change password"/>
</div>