<section class="route-settings-container">
    <div class="input_overlay" id="people-selector-container"> 
        <p>4</p><img class="user-icon" src="assets/media/user-icon.png"/> 
        <div id="arrows-selector"> 
            <button class="route-page-arrow"><img src="assets/media/pagination/ios-arrow-left.svg" id="arrow-number-people-image-up"/></button> 
            <button class="route-page-arrow"><img src="assets/media/pagination/ios-arrow-left.svg" id="arrow-number-people-image-down"/></button> 
        </div> 
    </div>     
    <div class="input_overlay datetime-selector-container"> 
        <img class="user-icon" src="assets/media/calendar-icon.png"><p>10/10/2022</p> 
    </div> 
    <div class="input_overlay datetime-selector-container "> 
        <img class="user-icon" src="assets/media/clock-icon.png"><p>09:00</p> 
    </div> 
</section>
