<div class="text-center">
    <h1 class=" mt-5 mb-5">Login into your account!</h1>
<div>

<div class="h6 mb-3">Welcome back: {{email}}
</div>
    <form class="formContainer" [formGroup]="passwordForm"  novalidate (ngSubmit)="checkEmail()">
        <div class="mx-auto">
            <input type="password" name="passwordLogin" class="input_overlay validation-text" placeholder="enter your password" formControlName="password"
            [class.valid]="passwordForm.get('password')?.valid && 
            (passwordForm.get('password')?.dirty || passwordForm.get('password')?.touched)"
            [class.invalid]="passwordForm.get('password')?.invalid && 
            (passwordForm.get('password')?.dirty || passwordForm.get('password')?.touched)"/>
            
            <div class="" *ngIf="passwordForm.get('password')?.invalid && 
                passwordForm.get('password')?.errors && 
                (passwordForm.get('password')?.dirty || passwordForm.get('password')?.touched)">

                <small class="text-danger"
                    *ngIf="passwordForm.get('password')?.hasError('required')">
                    Enter a password
                </small>
            </div>
        </div>
        

        <br>
        
        <button type="submit" class="btn btn-primary" value="Continue"[disabled]="!(passwordForm.valid && passwordForm.dirty)" disabled>Login</button>
        
    </form>
</div>